# 01. Import libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create a path for easier importing
path = r'C:\Users\blim9\Desktop\Career Foundry\Data Immersion\Achievement 4\Instacart Basket Analysis 2022-09-09'

In [3]:
# Import the dataframe worked on this exercise
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_revised.pkl'))

In [4]:
df.shape

(32404859, 21)

In [5]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,prices_range_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid range product,Least busy,Slowest days,Most orders,10,New customer

# 02. Task 4.8

In [7]:
# Find the aggregated mean of the "order_number" column grouped by the "department_id" column
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### In the previous exercise, because we were using a subset, there were not as many rows. Comparing this to the subset, the mean for produce (department_id 4) is now 18, and not 19. This also applies to other department_ids where the mean has decreased with the additional rows.

In [8]:
# Check the basic statistics of the product prices for each loyalty category
df.groupby('loyalty_flag').agg({'prices': ['min', 'max', 'mean']})

                 prices
                    min      max       mean
loyalty_flag
Loyal customer      1.0  99999.0  10.386336
New customer        1.0  99999.0  13.294670
Regular customer    1.0  99999.0  12.495717

In [9]:
# Create a new column that finds the mean of prices of products
df['avg_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [10]:
# Create spending flags based on average price
df.loc[df['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [11]:
df.loc[df['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [12]:
# Check the value_counts for the spending flag
df['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [13]:
# Create a new column that finds the median of days since last order
df['median_last_order'] = df.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [14]:
# Create order frequency flags that mark the regularity of a user's ordering behaviour
df.loc[df['median_last_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [15]:
df.loc[((df['median_last_order'] > 10) & (df['median_last_order'] <= 20)), 'order_frequency_flag'] = 'Regular customer'

In [16]:
df.loc[df['median_last_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [17]:
# Check the value_counts for the order frequency flag
df['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [18]:
# Export the dataframe
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_revised_v2.pkl'))